<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
	  <h:head>
	  	<title>Login</title>
	  </h:head>
	  <h:body>
	  	<h2>Inicio</h2>
	  	<h:form>
	  		<div>
	  		Usuario: <h:inputText value="#{sessionvalidar.usuario}"></h:inputText>
	  		</div>
	  		<div>
	  		Contraseña: <h:inputText value="#{sessionvalidar.password}"></h:inputText>
	  		</div>
	  		<h:commandButton value="ingresar" action="#{sessionvalidar.comprobar(sessionvalidar.usuario, sessionvalidar.password)}"/>
	  	</h:form>	
	  	
	  		<font color="red"><h:messages></h:messages></font>
	  </h:body>
	  </html>